.home-page-wrapper {
  padding: 28px;
}

.home-page-header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.home-page-body {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin: 38px auto 0 auto;
}

.home-page-body-title {
  margin-bottom: 20px;
}

.home-page-section-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 38px;
}

.home-page-button-proposal {
  margin-top: 10px;
}
