.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 30px;
  background-color: var(--grey800);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 12px;
}

.sidebar-header-logo {
  width: 68px;
}

.sidebar-header-notifications {
  display: flex;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.sidebar-header-notifications:hover {
  background-color: white;
  border: 1px solid white;
  transition: all 0.2s;

  img {
    opacity: 70%;
    transition: all 0.2s;
  }
}

.sidebar-section-title {
  color: var(--grey400);
}

.sidebar-workflow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-workflow-link {
  display: flex;
  align-items: center;
  gap: 4px;

  text-decoration: none;
}

.sidebar-workflow-link--light {
  font-weight: 400;
}

.sidebar-workflow-integrations {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  margin-left: 6px;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sidebar-footer-version {
  display: flex;
  align-self: center;

  font-size: 10px;
  font-weight: 700;
  color: var(--grey300);
}
