.integration-circle {
  width: 14px;
  height: 14px;
  flex-shrink: 0;

  background-color: white;
  border: 1px solid white;
  border-radius: 50%;

  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin: 6px -4px 0 0;
  transition: all 0.3s;
}

.integration-circle:hover {
  margin: 0 -4px 6px 0;
  transition: all 0.3s;
}
