html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*
  ---
  COLOR PALETTE
  ---
  */
  --grey900: #202020;
  --grey800: #303030;
  --grey700: #383838;
  --grey600: #575757;
  --grey500: #686868;
  --grey400: #717171;
  --grey300: #949494;
  --grey200: #eaeaea;
  --grey100: #f6f6f6;

  --pink900: #9c6cfe;
  --pink100: #e6fafa;

  --red900: #f00;
  --red100: #ffeeee;

  color-scheme: light;
  color: var(--grey900);
}

body {
  background-color: var(--grey200);
}

.color-white {
  color: white;
}

.color-pink {
  color: var(--pink900);
}

.color-red {
  color: var(--red900);
}

/*
--- 
FONT SYSTEM
---
*/
.title-1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: var(--grey700);
}

.title-2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  color: var(--grey700);
}

/* Workflow card title, navigation links bold */
.title-3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

/* Notification */
.text-1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--grey700);
}

/* Workflow card description */
.text-2 {
  font-size: 9px;
  font-weight: 400;
  line-height: 15px;
  color: var(--grey900);
}

/* Navigation links light */
.text-3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/* 12h ago */
.tiny-1 {
  font-size: 7px;
  font-weight: 700;
}

/* Saves 8h/week */
.tiny-2 {
  font-size: 7px;
  font-weight: 600;
  color: var(--grey600);
}

/*
--- 
SPACING SYSTEM
---
*/
h1 {
  margin: 0 0 0 0;
}

h3 {
  margin: 38px 0 18px 0;
}

p {
  margin: 0;
}

/*
--- 
BUTTONS
---
*/

button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-light {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;

  color: var(--grey500);
  font-size: 12px;
  font-weight: 400;

  padding: 12px 20px 12px 12px;
  border-radius: 4px;
  border: 1px solid var(--grey200);
  background-color: white;

  transition: all 0.3s;
}

.button-light:hover {
  background-color: var(--grey200);
  transition: all 0.3s;
}

.button-dark {
  color: white;
  font-size: 12px;
  font-weight: 700;

  padding: 16px 0;
  border: 1px solid var(--grey600);
  border-radius: 7px;
  background-color: var(--grey700);

  transition: all 0.3s;
}

.button-dark:hover {
  background-color: var(--grey500);
  transition: all 0.3s;
}
